# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
# 1. Python
# 2. R
# 3. SQl

# Some of the commonly used libraries used by Data Scientists include:
# 1. Pandas
# 2. ggplot2
# 3. NumPy

# **Objectives:**
# - Languages usually used in data science are python , R, SQl , Java , C++
# - Course covers the basic first steps of understaning how to write simple codes inside the open source envirnoments
# - what are the different sources of libraries

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R Studio |
| Apache Zeplin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

 # This will convert 200 minutes to hours by diving by 60

In [5]:
200 /60

3.3333333333333335

## Author 
# Anas Sherif Elsayed